@import url('https://fonts.googleapis.com/css?family=Orbitron:500');

.main-edit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: #fff;
    background: #363537;
    box-shadow: 0 0 540px 10px #5762D5 inset, 0 0 0 0 #5762D5;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-body {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.edit-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-img {
    height: 250px;
    width: 250px;
    border: 3px solid #5762D5;
    border-radius: 150px;
}

.save-changes-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    border-color: #5762D5;
    border-radius: 5px;
    background: #363537;
    color: #fff;
    box-shadow: 0 0 40px 40px #5762D5 inset, 0 0 0 0 #5762D5;
    transition: all 90ms ease-in-out;
    width: 160px;
    height: 80px;
    text-decoration: underline #5762D5;
    margin-top: 20px;
    margin-left: 20px;
}

.change-picture-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    border-color: #5762D5;
    border-radius: 5px;
    background: #363537;
    color: #fff;
    box-shadow: 0 0 40px 40px #5762D5 inset, 0 0 0 0 #5762D5;
    transition: all 90ms ease-in-out;
    width: 160px;
    height: 80px;
    margin-top: 25px;
}

.edit-buttons:hover {
    box-shadow: 0 0 10px 0 #5762D5 inset, 0 0 10px 4px #5762D5;
}

.edit-info-container {
    display: flex;
    flex-direction: column;
}

.username-title {
    font-family: 'Orbitron', sans-serif;
    color: #5762D5;
    margin-bottom: 5px;
    margin-left: 15px;
}

.change-name {
    height: 30px;
    width: 400px;
    border-radius: 6px;
    background-color: #363537;
    border-color: #5762D5;
    font-family: 'Orbitron', sans-serif;
    color: #5762D5;
    font-size: 24px;
}

.about-me-title {
    font-family: 'Orbitron', sans-serif;
    color: #5762D5;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-top: 30px;
}

.about-me {
    height: 400px;
    width: 600px;
    border-radius: 6px;
    background-color: #363537;
    border-color: #5762D5;
    font-family: 'Orbitron', sans-serif;
    color: #5762D5;
    font-size: 24px;
}